@font-face {
  font-family: 'icomoon';
  src:url('../icons/icomoon.eot?ry75vt');
  src:url('../icons/icomoon.eot?#iefixry75vt') format('embedded-opentype'),
    url('../icons/icomoon.woff?ry75vt') format('woff'),
    url('../icons/icomoon.ttf?ry75vt') format('truetype'),
    url('../icons/icomoon.svg?ry75vt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-settings:before {
  content: "\e600";
}
.icon-diamond:before {
  content: "\e601";
}
.icon-phone:before {
  content: "\e602";
}
.icon-clock:before {
  content: "\e603";
}
