@font-face {
  font-family: 'icomoon';
  src:url('../icons/icomoon.eot?hvn9tv');
  src:url('../icons/icomoon.eot?#iefixhvn9tv') format('embedded-opentype'),
    url('../icons/icomoon.woff?hvn9tv') format('woff'),
    url('../icons/icomoon.ttf?hvn9tv') format('truetype'),
    url('../icons/icomoon.svg?hvn9tv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-arrow-down:before {
  content: "\e608";
}
.icon-twitter:before {
  content: "\e606";
}
.icon-github:before {
  content: "\e607";
}
.icon-file-css:before {
  content: "\e609";
}
.icon-settings:before {
  content: "\e600";
}
.icon-diamond:before {
  content: "\e601";
}
.icon-phone:before {
  content: "\e602";
}
.icon-clock:before {
  content: "\e603";
}
