$flyout-menu-width: 18em;

.flyout-menu-wrap {
  display: inline-block;
  position: relative;

  .flyout-menu {
    @include animatableHide;
    border-radius: $radius;
    overflow: hidden;
    box-shadow: 0 0.2em 0.2em 0 rgba($black, 0.25);

    li a, li button {
      border-radius: 0;
      display: block;
      width: $flyout-menu-width;
      text-align: left;
      padding: $line-height / 5 $line-height / 2;
      background-color: transparent;
      color: inherit;
      border-color: $gray-lighter;
      @extend .border-top-light-solid;

      &:hover {
        background-color: $gray-lighter;
      }
    }
  }

  &.active .flyout-menu {
    visibility: visible;
    position: absolute;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    z-index: 9998;

    &.flyout-menu-bottom-left,
    &.flyout-menu-bottom-right {
      margin-top: $line-height / 4;
    }

    &.flyout-menu-bottom-left {
      left: 0;
      top: 100%;
    }

    &.flyout-menu-bottom-right {
      right: 0;
      top: 100%;
    }

    &.flyout-menu-top-right {
      left: 100%;
      bottom: 100%;
    }

    &.flyout-menu-top {
      bottom: 100%;
    }
  }
}

.flyout-menu-overlay { @include animatableHide; }

.flyout-menu-wrap.active .flyout-menu-overlay {
  visibility: visible;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9997;
}

.flyout-menu-wrap .flyout-menu {
  opacity: 0;
  transition: opacity 0.2s ease;
}
.flyout-menu-wrap.active .flyout-menu { opacity: 1; }
