.grunt
.rvmrc
.rbenv-version
.sass-cache
docs
docs/*

# Include only docs.jade from styledocco

node_modules/*
!node_modules/grunt-styleguide

node_modules/grunt-styleguide/*
!node_modules/grunt-styleguide/node_modules

node_modules/grunt-styleguide/node_modules/*
!node_modules/grunt-styleguide/node_modules/styledocco

node_modules/grunt-styleguide/node_modules/styledocco/*
!node_modules/grunt-styleguide/node_modules/styledocco/share
