@each $color1 in $palette {
  .#{ nth( $color1, 1 ) }-foreground {
    color: nth( $color1, 2 );

    &:link:visited { color: nth( $color1, 2 ); }
  }
  .#{ nth( $color1, 1 ) }-background {
    background-color: nth( $color1, 2 );
  }
  .#{ nth( $color1, 1 ) }-border {
    border-color: nth( $color1, 2 );
  }
}
