.container {
  max-width: $max-width;
  padding: $page-margin;

  @if $center-layout {
    margin-left: auto;
    margin-right: auto; 
  }
}

nav {}

article {}

aside {}

header {}

footer {}

main {}

iframe {
  width: 100%;
}
