body > nav {
  background-color: $nav-background-color;
  
  &, a { color: $color-primary; }

  a {
    text-decoration: none;
  }
}

@if $fixed-left-nav {
  body .container { margin-left: $fixed-left-nav-width; }

  body > nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: $fixed-left-nav-width;
    padding: 0;
    overflow: auto;

    a {
      display: block;
      
    }
    .container { 
      margin: 0; 
      padding: 0;
    }
  }
  ul {
    margin-bottom: $line-height;
    li {
      list-style: none;
      a {
        display: block;
        position: relative;
        padding: $line-height / 4 $line-height;
      }
    }
  }
}

@if $fixed-top-nav {
  body > nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    height: $fixed-top-nav-height;

    a, li { display: inline-block; }
  }

  body > main {
    margin-top: $fixed-top-nav-height;
  }
}
