
// Settings

$fixed-left-nav: false;

$font-family-icons: "icomoon";

$features-bg-color: #001053;

// Main include

@import 'terrain';

// Include helper classes

@import 'terrain/color/palette';

// Include components

@import 'terrain/components/tabs',
        'terrain/components/wizard',
        'terrain/components/modal',
        'terrain/components/flyout_menu',
        'terrain/components/item_card';

@import 'icons';

.hero-background,
.hero-background img,
.hero-background svg  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: auto;
}

.hero-background,
.hero-background svg {
  height: 100%;
}

.hero-background svg {
  opacity: 0.6;
}

.hero {
  color: white;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: $features-bg-color;

  &:before {
    content: '';
    background: linear-gradient(rgba($features-bg-color, 0), $features-bg-color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
  }

  a {
    color: white;
  }

  .outline-button {
    color: white;
    border-color: white;
    text-transform: uppercase;

    &:hover, &:active, &:visited {
      color: $color-primary;
    }

    @media screen and (max-width: $breakpoint-small) {
      display: block;
    }
  }
}

.title-container {
  position: relative;
  z-index: 2;
}

.logo {
  display: block;
  margin: 1em auto;
}

.title .subtitle {
  font-size: .75em;
  margin-top: -.25em;
  display: block;
  text-shadow: 0 1px 5px rgba(black, .25);
}


.features {
  background: $features-bg-color;
  color: white;
  background-image: linear-gradient($features-bg-color, darken(adjust-hue($features-bg-color, 90deg), 7.5%));
}

dl.explanation {
  font-size: 1.125em;
  line-height: $line-height;

  dt {
    font-weight: 700;
  }

  dd {
    margin-bottom: $line-height;
  }
}

.feature-list {
  font-size: 1.125em;

  li {
    vertical-align: top;
    margin-bottom: $line-height;

    &:before {
      font-size: 1.5em;
      display: inline-block;
    }
  }
}

article header {
  position: relative;
}

.show-html {
  position: absolute;
  top:  0;
  right: 0;
  font-family: monospace;
  background: transparent;
  color: #666;

  &:before {
    content: '</>';
    margin-right: .5em;
  }

  @media screen and (max-width: $breakpoint-medium) {
    text-indent: -9999px;
    width: 3em;

    &:before {
      text-indent: 0;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      text-align: center;
      line-height: 1em;
      margin: -.5em 0;
    }
  }
}


.nav-toggle { display: none; }

.menu {
  position: relative;
  background: white;
  z-index: 10;

  .container {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  li {
    display: inline-block;
    vertical-align: top;
    position: relative;

    &:hover ul {
      display: block;
    }

    a {
      padding: 0 .25em;
      text-transform: uppercase;
      display: block;

      &.active {
        color: $black;
      }
    }

    ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: white;
      z-index: 10;

      li {
        display: block;

        a {
          text-transform: none;
        }
      }
    }
  }
}


@media screen and (max-width: $breakpoint-medium) {
  #nav-menu + div {
    display: none !important;
  }

  .menu,
  .nav-toggle {
    transition: all 0.3s ease;
  }

  .menu {
    position: fixed;
    width: $fixed-left-nav-width;
    height: 100%;
    top: 0;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: scroll;

    li, li ul {
      display: block;
    }
  }

  .menu-left {
    width: $fixed-left-nav-width;
    left: -#{$fixed-left-nav-width};

    &.menu-open {
      left: 0px;
    }

    @media screen and (max-width: $breakpoint-small) {
      width: 100%;
      left: -100%;
    }
  }

  .menu-push-toright {
    overflow: hidden;

    .nav-toggle-overlay {
      left: 0;
      opacity: 1;
    }
  }

  .nav-toggle-overlay {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    bottom: 0;
    background: rgba(black, .5);
    z-index: 100;
    opacity: 0;
    transition: opacity .5s ease;
  }

  $menu-icon-stroke: 4px;
  $menu-icon-size: $menu-icon-stroke * 7;

  button.nav-toggle {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    padding: 0;
    border: 0;
    width: $menu-icon-size * 2;
    line-height: $menu-icon-size * 2;
    height: $menu-icon-size * 2;
    text-align: center;
    z-index: 99999;

    &:focus { outline: none }

    &.active {
      color: white;
    }

    > span {
      display: block;
      height: $menu-icon-stroke;
      width: $menu-icon-size;
      background-color: $color-primary;
      text-indent: -9999px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -$menu-icon-size / 2;
      margin-top: -$menu-icon-stroke / 2;
      border-radius: .25em;
      -webkit-transition: -webkit-transform 0.2s ease;
      -moz-transition: -moz-transform 0.2s ease;
      transition: transform 0.2s ease;

      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: $menu-icon-stroke;
        background-color: $color-primary;
        -webkit-transition: -webkit-transform 0.2s ease;
        -moz-transition: -moz-transform 0.2s ease;
        transition: transform 0.2s ease;
        border-radius: .25em;
      }

      &:before { top: -($menu-icon-stroke * 2) }
      &:after { bottom: -($menu-icon-stroke * 2) }
    }

    &.active {
      > span {
        background: fade($color-primary);
        box-shadow: none;
        transform: rotate(45deg);

        &:before {
          background: fade($color-primary);
          top: 0;
          box-shadow: none;
          transform: rotate(90deg);
        }

        &:after { opacity: 0; }
      }

    }
  }

  .menu-push-toright .nav-toggle {
    left: $fixed-left-nav-width + 1;

    @media screen and (max-width: $breakpoint-small) {
      left: 100%;
      margin-left: -3em;
    }
  }
}


footer {
  background: whitesmoke;

  .social-share { text-align: right; }
}


.hideshare-wrap {
  position: relative;
  display: inline-block;
  width: auto !important;
  height: auto !important;
}

.hideshare-list {
  position: absolute;
  right: 0;
  left: auto !important;
  bottom: 100% !important;
  top: auto !important;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  background: white;
  width: auto !important;
  margin-bottom: 0.75em;
  white-space: nowrap;

  &:after {
    content: '';
    position: absolute;
    border: 0.5em solid transparent;
    border-top-color: white;
    bottom: -1em;
    right: 1.5em;
  }

  li {
    display: inline-block;
    zoom: 1;
    *display: inline;

    a {
      display: block;
      padding: 0.25em .5em;
      border-left: thin solid #eee;
    }

    &:first-child a {
      border-left-width: 0;
    }
  }
}
