@mixin rounded-box($display: block, $border: true) {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  border-radius: $radius;

  position: relative;
  display: $display;
  line-height: $line-height;
  font-size: $font-size;
  text-align: center;
  outline: 0;
  padding: $line-height / 4 $line-height / 2;

  &:visited {
    color: inherit;
  }

  &:hover {
    text-decoration: none;
    cursor: pointer;

    color: $button-default-hover-foreground-color;
    background-color: $button-default-hover-background-color;
    border-color: $button-default-hover-border-color;
  }

  &.active, &:active {
    color: $button-default-active-foreground-color;
    background-color: $button-default-active-background-color;
    border-color: $button-default-active-border-color;
  }

  &[disabled="disabled"],
  &[disabled="disabled"]:hover,
  &[disabled="disabled"]:active {
    opacity: .5;
    cursor: default;
  }

  &.icon-only {
    width: $line-height;
    height: $line-height;
    padding: 0;
  }

  @if $border {
    margin-top: -2px;
    border-width: 1px;
    border-style: solid;
  } @else {
    border: none;
  }
}

.pill {
  @include rounded-box(inline-block, false);

  &.icon-only {
    width: $line-height + $line-height / 2;
    height: $line-height + $line-height / 2;
    line-height: $line-height + $line-height / 2;
  }
}
