@mixin rounded-box($display: block, $border: true) {
  @include appearance(none);
  @include box-sizing(border-box);
  @include border-radius($radius);
  
  position: relative;
  display: $display;
  line-height: $line-height; 
  font-size: $font-size; 
  text-align: center;
  outline: 0;
  padding: $line-height / 4 $line-height / 2;

  @if $border {
    margin-top: -2px;
    border-width: 1px;
    border-style: solid;
  } @else {
    border: none;
  }
}

.pill {
  @include rounded-box(inline-block, false);
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
