select {
  @include rounded-box;
  text-align: left;
  padding: $line-height / 6 $line-height / 4;
  padding-right: $line-height;

  width: 100%;
  margin-bottom: $line-height;
  margin-top: 0;

  font-size: $font-size;
  font-family: $font-family-input;
  font-weight: normal;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $select-foreground-color;
  background-color: $select-background-color;
  border-color: $select-border-color;

  background-repeat: no-repeat;
  background-position: right $line-height / 4 center;
  background-size: ($line-height / 2);
  background-image: url("data:image/svg+xml;utf8, <svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"32\" height=\"32\" viewBox=\"0 0 32 32\"><path fill=\"#{ $select-foreground-color }\" d=\"M8 12l8 8 8-8z\" /></svg>");

  transition: all 0.5s ease;
  -webkit-appearance: none;

  &:hover {
    color: $select-hover-foreground-color;
    background-color: $select-hover-background-color;
    border-color: $select-hover-border-color;
  }

  &:focus {
    color: $select-focus-foreground-color;
    background-color: $select-focus-background-color;
    border-color: $select-focus-border-color;
  }

  &[multiple] { background-image: none; }
}


// Specific hacks

// Firefox

@-moz-document url-prefix() {
  select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    background-image: url("data:image/svg+xml;utf8, <svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"32\" height=\"32\" viewBox=\"0 0 32 32\"><path d=\"M8 12l8 8 8-8z\" /></svg>");

    &:hover, &:focus {
      background-image: url("data:image/svg+xml;utf8, <svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"32\" height=\"32\" viewBox=\"0 0 32 32\"><path d=\"M8 12l8 8 8-8z\" /></svg>");
    }
  }
}
