a {
  color: $link-color;
  text-decoration: none;
  transition: background-color 0.5s ease, color 0.5s ease;

  &:hover { color: $link-color-hover; }
  &:active { color: $link-color-active; }
}

main a {
  color: $main-link-color;

  &:hover { color: $main-link-color-hover; }
  &:active { color: $main-link-color-active; }
}

footer a {
  color: $footer-link-color;

  &:hover { color: $footer-link-color-hover; }
  &:active { color: $footer-link-color-active; }
}
