$font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif !default;
$font-family-body: $font-family !default;
$font-family-headings: $font-family !default;
$font-family-input: $font-family !default;
$font-family-icons: 'Icons' !default;
$font-family-mono: 'Menlo' !default;

$font-size: 16px;

$font-weight-bold: 400;
$font-weight-medium: 500;
$font-weight-normal: 700;

$line-height: 1.7em !default;
$gutter: $line-height !default;


// Colours

$color-primary: hsl(160, 75%, 50%);
$color-primary-light: lighten($color-primary, 15%);
$color-submit: $color-primary !default;
$button-background-color: dimgrey !default;


$radius: .15em;

$breakpoint-small: 500px;
$breakpoint-medium: 800px;
$breakpoint-large: 1200px;

$max-width: $breakpoint-medium;
$center-layout: true;

// Debugging
$baseline-grid: true;


//
// To Implement your own icons, updates the below:
//
// @font-face {
//   font-family: $font-family-icons;
//   src: url('path/to/icons.eot');
//   src: url('path/to/icons.eot?#iefix') format('embedded-opentype'),
//        url('path/to/icons.ttf') format('truetype'),
//        url('path/to/icons.woff') format('woff'),
//        url('path/to/icons.svg') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
