// # Settings

// ## Typography

$font-family:             'Open Sans', 'Helvetica Neue', sans-serif !default;
$font-family-body:        $font-family !default;
$font-family-headings:    $font-family !default;
$font-family-input:       $font-family !default;
$font-family-icons:       'trove-icons' !default;
$font-family-mono:        'Menlo', 'Monaco', 'Courier New', monospace !default;

$font-size:               100% !default;
$font-size-level-one:     3em !default;
$font-size-level-two:     1.75em !default;
$font-size-level-three:   1.5em !default;
$font-size-level-four:    1.25em !default;
$font-size-level-five:    1em !default;
$font-size-level-six:     0.8em !default;

$line-height:             1.7em !default;

$font-weight-normal:      400;
$font-weight-medium:      600;
$font-weight-bold:        700;


// ## Colours

// ### Palette

$color-primary:           hsl(204,44%,54%);
$color-primary-light:     lighten($color-primary, 15%);

// Tints and shades

$black:                   hsl(0,0%,9%);
$white:                   lighten($black, 93.5%);
$gray-darker:             lighten($black, 13.5%);
$gray-dark:               lighten($black, 20%);
$gray:                    lighten($black, 33.5%);
$gray-light:              lighten($black, 60%);
$gray-lighter:            lighten($black, 87.5%);


// Indicators

$color-success:           hsl(85, 60%, 52%);
$color-warning:           hsl(45, 83%, 73%);
$color-danger:            hsl(357, 88%, 63%);
$color-info:              $color-primary;


// Links

$link-color:                   $color-primary; 

$main-link-color:              $link-color;
$main-link-color-hover:        darken($link-color, 15%);
$main-link-color-active:       darken($link-color, 25%);
$main-link-color-visited:      lighten($link-color, 15%);

$footer-link-color:              $link-color;
$footer-link-color-hover:        darken($link-color, 15%);
$footer-link-color-active:       darken($link-color, 25%);
$footer-link-color-visited:      lighten($link-color, 15%);


// Buttons

$button-background-color: $gray-dark;
$button-submit-color:     $color-primary;


// Inputs

$input-border-color: $gray-light;
$input-hover-border-color: $color-primary;
$input-focus-border-color: $color-success;


// Breakpoints

$breakpoint-small:        32em;
$breakpoint-medium:       50em;
$breakpoint-large:        75em;


// Layout

$gutter:                  $line-height * 1.5 !default;
$page-margin:             $line-height * 2 !default;
$max-width:               $breakpoint-medium !default;
$center-layout:           true;


// Borders

$border-heavy-width:      $line-height / 4;
$border-medium-width:     $line-height / 8;
$border-light-width:      thin;


// Layout theme options

$fixed-left-nav:          true;
$fixed-left-nav-width:    18em;

$fixed-top-nav:           false;
$fixed-top-nav-height:    8em;

$nav-background-color:    $black;
$nav-item-color:          $color-primary;


// Debugging

$baseline-grid: true;


// Misc

$radius: .15em;


//
// To Implement your own icons, update the below:
//
// @font-face {
//   font-family: $font-family-icons;
//   src: url('path/to/icons.eot');
//   src: url('path/to/icons.eot?#iefix') format('embedded-opentype'),
//        url('path/to/icons.ttf') format('truetype'),
//        url('path/to/icons.woff') format('woff'),
//        url('path/to/icons.svg') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
//
