%heading {
  font-family: $font-family-headings;
}

h1, h2, h3, h4, h5, h6 { @extend %heading; }

h1 {
  font-size: $font-size-level-one;
  font-weight: $font-weight-level-one;
  margin-top: $margin-level-one * 2;
  margin-bottom: $margin-level-one;
  line-height: $line-height-level-one;

  & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
    margin-top: 0;
  }

  @media screen and (max-width: $breakpoint-small) {
    font-size: $font-size-level-one * 0.75;
  }
}

h2 {
  font-size: $font-size-level-two;
  font-weight: $font-weight-level-two;
  margin-top: $margin-level-two * 2;
  margin-bottom: $margin-level-two;
  line-height: $line-height-level-two;

  & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
    margin-top: 0;
  }

  @media screen and (max-width: $breakpoint-small) {
    font-size: $font-size-level-two * 0.8;
  }
}

h3 {
  font-size: $font-size-level-three;
  font-weight: $font-weight-level-three;
  margin-top: $margin-level-three * 2;
  margin-bottom: $margin-level-three;
  line-height: $line-height-level-three;

  & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
    margin-top: 0;
  }

  @media screen and (max-width: $breakpoint-small) {
    font-size: $font-size-level-three * 0.8;
  }
}

h4 {
  font-size: $font-size-level-four;
  font-weight: $font-weight-level-four;
  margin-top: $margin-level-four * 2;
  margin-bottom: $margin-level-four;
  line-height: $line-height-level-four;

  & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
    margin-top: 0;
  }

  @media screen and (max-width: $breakpoint-small) {
    font-size: $font-size-level-four * 0.9;
  }
}

h5 {
  font-size: $font-size-level-five;
  font-weight: $font-weight-level-five;
  margin-top: $margin-level-five * 2;
  margin-bottom: $margin-level-five;
  line-height: $line-height-level-five;

  & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
    margin-top: 0;
  }
}

h6 {
  font-size: $font-size-level-six;
  font-weight: $font-weight-level-six;
  margin-top: $margin-level-six * 2;
  margin-bottom: $margin-level-six;
  line-height: $line-height-level-six;

  & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
    margin-top: 0;
  }
}

%heading:first-child { margin-top: 0; }

header {
  %heading:last-child { margin-bottom: 0; }
}
