ul, ol {
  padding: 0;
  margin-top: 0;
}

menu {
  list-style: none;
}

ol, ul {
  margin-bottom: $line-height;

  li {
    list-style: none;
    display: block;
    position: relative;
    padding-left: 1.5em;

    &:before {
      position: absolute;
      left:0;
      line-height: $line-height;
      top: 0;
      width: 1em;
      font-weight: bold;
    }

    ul li:before { content: '-' }
  }
}

ul li:before { content: "•"; }

ol {
  list-style: decimal;
  counter-reset: item;

  li:before {
    content: counter(item) ". ";
    counter-increment: item;
  }
}

dl {
  margin-bottom: $line-height;

  dt {
    font-weight: 600;
  }
}
