// A button
//
// <button>Submit</button>

%button {
  @include rounded-box(inline-block, false);
  padding: $line-height / 4 $line-height / 2;

  margin: 0;
  width: auto;
  height: auto;

  font-family: $font-family-input;
  font-weight: $font-weight-medium;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  
  color: $button-default-foreground-color;
  background-color: $button-default-background-color;
  border-color: $button-default-border-color;

  &:hover {
    text-decoration: none;
    cursor: pointer;

    color: $button-default-hover-foreground-color;
    background-color: $button-default-hover-background-color;
    border-color: $button-default-hover-border-color;
    
  }

  &.active, &:active {
    color: $button-default-active-foreground-color;
    background-color: $button-default-active-background-color;
    border-color: $button-default-active-border-color;
  }

  &[disabled="disabled"], 
  &[disabled="disabled"]:hover, 
  &[disabled="disabled"]:active {
    opacity: .5;
    cursor: default;
  }

  &.icon-only {
    width: $line-height;
    height: $line-height;
    padding: 0;
  }
}


.button, 
button, 
input[type="submit"], 
input[type="button"] {
  @extend %button;
}

input[type="submit"], 
button[type='submit'] {
  background: $button-submit-color;

  &:hover {
    background-color: darken($button-submit-color, 15%);
  }
}


%buttons {
  @extend %clearfix;

  %button {
    float: left;
    margin: 0;
    border-radius: 0;
    border-left: thin solid rgba(black, .25);

    &:focus { outline: 0; }

    &:first-child {
      border-left-width: 0;
      @include border-left-radius($radius);
    }

    &:last-child, &.last-child {
      @include border-right-radius($radius);
    }
  }
}

.buttons { @extend %buttons; }


