// <form>
// <fieldset>
//   <legend>Radios</legend>
//
//   <input type="radio" value="1" id="radioButton1" name="radioButton" />
//   <label for="radioButton1">Radio Button 1</label>  
//
//   <input type="radio" value="2" id="radioButton2" name="radioButton" />
//   <label for="radioButton2">Radio Button 1</label>  
// </fieldset>
//
// <fieldset>
//   <legend>Checkboxes</legend>
// 
//   <input type="checkbox" value="1" id="checkbox1" name="checkbox1" />
//   <label for="checkbox1">Checkbox 1</label>  
//
//   <input type="checkbox" value="2" id="checkbox2" name="checkbox2" />
//   <label for="checkbox2">Checkbox 2</label>
// </fieldset>
// </form>
//

input[type='checkbox'], input[type='radio'] {
  cursor: pointer;
  margin: 0;
  outline: 0;
  border: none;

  display: inline-block;
  vertical-align: middle;
  margin-right: $line-height / 4;

  width: 1em;
  height: $line-height; line-height: $line-height;

  text-align: center;
  font-size: inherit;

  background: transparent;
  @include background-size(contain);
  background-repeat: no-repeat;
  background-position: center center;  
}

input[type='checkbox'] {
  @include appearance(none);
  
  background-image: url("data:image/svg+xml;utf8, <svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"32\" height=\"32\" viewBox=\"0 0 32 32\"><path fill=\"#{ $black }\" d=\"M28 4v24h-24v-24h24M29 0h-26c-1.65 0-3 1.35-3 3v26c0 1.65 1.35 3 3 3h26c1.65 0 3-1.35 3-3v-26c0-1.65-1.35-3-3-3v0z\" /></svg>");
  &:checked { 
    background-image: url("data:image/svg+xml;utf8, <svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"32\" height=\"32\" viewBox=\"0 0 32 32\"><path fill=\"#{ $color-success }\" d=\"M24 7l-11 10-4-5-3 3 7 9 13-15zM28 4v24h-24v-24h24M29 0h-26c-1.65 0-3 1.35-3 3v26c0 1.65 1.35 3 3 3h26c1.65 0 3-1.35 3-3v-26c0-1.65-1.35-3-3-3v0z\" /></svg>");

    & + label { color: $color-success; }
  }
}

input[type='radio'] {
  @include appearance(none);
  
  background-image: url("data:image/svg+xml;utf8, <svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"32\" height=\"32\" viewBox=\"0 0 32 32\"><path fill=\"#{ $black }\" d=\"M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM16 28c-6.627 0-12-5.373-12-12s5.373-12 12-12c6.627 0 12 5.373 12 12 0 6.627-5.373 12-12 12z\" /></svg>");
  &:checked {
    background-image: url("data:image/svg+xml;utf8, <svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"32\" height=\"32\" viewBox=\"0 0 32 32\"><path fill=\"#{ $color-success }\" d=\"M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM16 28c-6.627 0-12-5.373-12-12s5.373-12 12-12c6.627 0 12 5.373 12 12 0 6.627-5.373 12-12 12zM10 16c0-3.314 2.686-6 6-6s6 2.686 6 6c0 3.314-2.686 6-6 6-3.314 0-6-2.686-6-6z\" /></svg>");

    & + label { color: $color-success; }
  }
}

input[type="checkbox"] + label, 
input[type="radio"] + label {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  margin-right: $line-height * 2;
}

.checkbox-list li, .radio-list li {
  position: relative;
  padding-left: $line-height * 1.5;

  input[type="checkbox"], input[type="radio"] {
    position: absolute;
    left: 0;
  }
}

main ul.radio-list li,
main ul.checkbox-list li {
  padding-left: $line-height;

  &:before { content: '' }
} 
