select { 
  @include rounded-box;
  text-align: left;

  width: 100%;
  margin-bottom: $line-height;
  margin-top: 0;

  font-size: $font-size;
  font-family: $font-family-input;
  font-weight: $font-weight-normal;

  background-image: url("data:image/svg+xml;utf8, <svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"32\" height=\"32\" viewBox=\"0 0 32 32\"><path fill=\"#{ black }\" d=\"M8 12l8 8 8-8z\" /></svg>");
  background-repeat: no-repeat;
  background-position: right $line-height / 4 center;
  @include background-size($line-height / 2);

  &[multiple] { background-image: none; }
}
