select { 
  @include rounded-box;
  text-align: left;
  padding: $line-height / 6 $line-height / 4;

  width: 100%;
  margin-bottom: $line-height;
  margin-top: 0;

  font-size: $font-size;
  font-family: $font-family-input;
  font-weight: $font-weight-normal;

  color: $select-foreground-color;
  background-color: $select-background-color;
  border-color: $select-border-color;

  background-repeat: no-repeat;
  background-position: right $line-height / 4 center;
  @include background-size($line-height / 2);
  background-image: url("data:image/svg+xml;utf8, <svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"32\" height=\"32\" viewBox=\"0 0 32 32\"><path fill=\"#{ $select-foreground-color }\" d=\"M8 12l8 8 8-8z\" /></svg>");

  &:hover { 
    color: $select-hover-foreground-color;
    background-color: $select-hover-background-color;
    border-color: $select-hover-border-color;
    background-image: url("data:image/svg+xml;utf8, <svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"32\" height=\"32\" viewBox=\"0 0 32 32\"><path fill=\"#{ $select-hover-foreground-color }\" d=\"M8 12l8 8 8-8z\" /></svg>");
  }

  &:focus {
    color: $select-focus-foreground-color;
    background-color: $select-focus-background-color;
    border-color: $select-focus-border-color;
    background-image: url("data:image/svg+xml;utf8, <svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"32\" height=\"32\" viewBox=\"0 0 32 32\"><path fill=\"#{ $select-focus-foreground-color }\" d=\"M8 12l8 8 8-8z\" /></svg>");
  }

  &[multiple] { background-image: none; }
}
