//
// <input type="text" placeholder="Standard text input" />
// <textarea placeholder="A textarea"></textarea>
//
//
//
//
//


input[type='text'], 
input[type='search'], 
input[type='tel'], 
input[type='email'], 
input[type='password'], 
input[type='url'], 
input[type='date'], 
input[type='datetime'], 
input[type='time'], 
input[type='number'],
input[list], 
textarea {
  @include rounded-box;
  padding: $line-height / 6 $line-height / 4;
  text-align: left;

  @include transition( border-color 0.5s);
  
  width: 100%;
  margin-bottom: $line-height;
  margin-top: 0;
  
  font-family: $font-family-input;
  font-size: $font-size;
  font-weight: $font-weight-normal;

  color: $input-foreground-color;
  background-color: $input-background-color;
  border-color: $input-border-color;

  &:focus {
    color: $input-focus-foreground-color;
    background-color: $input-focus-background-color;
    border-color: $input-focus-border-color;

    &:hover {
      color: $input-focus-foreground-color;
      background-color: $input-focus-background-color;
      border-color: $input-focus-border-color;
    }
  }
  &:hover {
    color: $input-hover-foreground-color;
    background-color: $input-hover-background-color;
    border-color: $input-hover-border-color;
  }
}

::-webkit-input-placeholder {
  font-weight: $font-weight-normal;
  font-family: $font-family-input;
}
:-moz-placeholder {
  font-weight: $font-weight-normal;
  font-family: $font-family-input;
}
::-moz-placeholder {
  font-weight: $font-weight-normal;
  font-family: $font-family-input;
}
:-ms-input-placeholder {  
  font-weight: $font-weight-normal;
  font-family: $font-family-input;
}
