input[type='text'], 
input[type='search'], 
input[type='tel'], 
input[type='email'], 
input[type='password'], 
input[type='url'], 
input[type='date'], 
input[type='datetime'], 
input[type='time'], 
input[type='number'],
input[list], 
textarea {
  @include rounded-box;
  @include transition( border-color 0.5s);
  
  width: 100%;
  margin-bottom: $line-height;
  margin-top: 0;
  
  font-family: $font-family-input;
  font-size: $font-size;
  font-weight: $font-weight-normal;

  border-color: $input-border-color;

  &:focus {
    border-color: $input-focus-border-color;
  }
  &:hover {
    border-color: $input-hover-border-color; 
  }
}

::-webkit-input-placeholder {
  font-weight: $font-weight-normal;
  font-family: $font-family-input;
}
:-moz-placeholder {
  font-weight: $font-weight-normal;
  font-family: $font-family-input;
}
::-moz-placeholder {
  font-weight: $font-weight-normal;
  font-family: $font-family-input;
}
:-ms-input-placeholder {  
  font-weight: $font-weight-normal;
  font-family: $font-family-input;
}
