input[type='text'], 
input[type='search'], 
input[type='tel'], 
input[type='email'], 
input[type='password'], 
input[type='url'], 
input[type='date'], 
input[type='datetime'], 
input[type='time'], 
input[type='number'],
input[list], 
textarea {
  @include appearance(none);
  
  width: 100%;
  @include box-sizing(border-box);
  padding: $line-height / 8 $line-height / 4;
  line-height: $line-height;
  margin-bottom: $line-height;
  margin-top: 0;
  
  font-family: $font-family-input;
  font-size: $font-size;
  font-weight: $font-weight-normal;
  
  outline: 0;
  border-width: 1px;
  border-style: solid;
  @include border-radius($radius);

  @include transition( border-color 0.5s);

  &:focus { }
  &:hover { }
}

::-webkit-input-placeholder {
  font-weight: $font-weight-normal;
  font-family: $font-family-input;
}
:-moz-placeholder {
  font-weight: $font-weight-normal;
  font-family: $font-family-input;
}
::-moz-placeholder {
  font-weight: $font-weight-normal;
  font-family: $font-family-input;
}
:-ms-input-placeholder {  
  font-weight: $font-weight-normal;
  font-family: $font-family-input;
}
