// <ul>
//   <li>first item</li>
//   <li>second item</li>
//   <li>third item</li>
// </ul>

// <ul>
//   <li>first item</li>
//   <li>second item 
//     <ul>
//       <li>second item first subitem</li>
//       <li>second item second subitem
//         <ul>
//           <li>second item second subitem first sub-subitem</li>
//           <li>second item second subitem second sub-subitem</li>
//           <li>second item second subitem third sub-subitem</li>
//         </ul>
//       </li>  
//       <li>second item third subitem</li>
//     </ul>
//   </li> 
//   <li>third item</li>
// </ul>

// <ul>
//   <li>first item</li>
//   <li>second item
//     <ol>
//       <li>second item first subitem</li>
//       <li>second item second subitem</li>
//       <li>second item third subitem</li>
//     </ol>
//   </li>
//   <li>third item</li>
// </ul>

// <ol>
//   <li>first item</li>
//   <li>second item</li>
//   <li>third item</li>
// </ol>

// <ol start="7">
//   <li>first item</li>
//   <li>second item</li>
//   <li>third item</li>
// </ol>

// <ol>
//   <li>first item</li>
//   <li>second item
//     <ol>
//       <li>second item first subitem</li>
//       <li>second item second subitem</li>
//       <li>second item third subitem</li>
//     </ol>
//   </li>
//   <li>third item</li>
// </ol>

// <ol>
//   <li>first item</li>
//   <li>second item
//     <ul>
//       <li>second item first subitem</li>
//       <li>second item second subitem</li>
//       <li>second item third subitem</li>
//     </ul>
//   </li> 
//   <li>third item</li>
// </ol>



ul, ol {
  padding: 0;
  margin-top: 0;
}

main {
  ol, ul:not(.no-dot) {
    margin-bottom: $line-height;
    li {
      list-style: none;
      display: block;
      position: relative;
      padding-left: 1.5em;

      &:before {
        position: absolute;
        left:0;
        line-height: $line-height;
        top: 0;
        width: 1em;
        font-weight: bold;
      }

      ul li:before { content: '-' }
    }
  }

  ul:not(.no-dot) li:before { content: "•"; }

  ol {
    list-style: decimal;
    counter-reset: item;

    li:before {
      content: counter(item) ". ";
      counter-increment: item;
    }
  }
}

.circle-list li {
  @extend .icon-position-right;

  &:before {
    @include circle;
  }
}

.ruled-list, .meta-list {
  li {
    @extend .border-top-light-solid;
    margin-bottom: $line-height / 4;
    padding-top: $line-height / 4;
  }
}

.meta-list {
  @extend .circle-list;

  li:before { font-size: 1.333em; }
}
